@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --eerie-black: #1c2321ff;
  --cadet-gray: #7d98a1ff;
  --paynes-gray: #5e6572ff;
  --powder-blue: #a9b4c2ff;
  --antiflash-white: #eef1efff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "nunito";
  background-color: var(--eerie-black);
  color: var(--antiflash-white);
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.slider-container {
  background-color: var(--paynes-gray);
  width: 100%;
  height: 90vh;
  width: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.images {
  display: flex;
  flex-direction: row;
  position: absolute;
  /* border: 2px solid red; */
  width: 2500px;
  justify-content: space-between;
  height: 100%;
  transition: all 1000ms;
}

.image {
  width: 500px;
  object-fit: contain;
  /* border: 2px solid red; */
}

